[user]
	name = NightMachinary
	email = rudiwillalwaysloveyou@gmail.com
[alias]
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[credential]
	helper = osxkeychain
[push]
	default = matching
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta --light --theme 'Solarized (light)'
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[http]
  sslVerify = true
[pull]
	rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
