PyPDF2
Unidecode
amzqr
catsql
cloudscraper
colorama
convertdate
coursera-dl
daudin
ddgr
dnspython
ezgmail
fanficfare
fastapi[all]
fichub-cli
fire
gallery-dl
gay
gensim
git+https://github.com/NightMachinary/BrishGarden.git
git+https://github.com/NightMachinary/brish.git
git+https://github.com/wustho/epr.git
glances[action,browser,cloud,cpuinfo,docker,export,folders,gpu,graph,ip,raid,snmp,web,wifi]
gnureadline
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_images_download
hachoir
hiredis
html5lib
httpie
https://github.com/jakubroztocil/httpie/archive/master.tar.gz
icecream
imdbpy
instaloader
ipydex
ipython
iredis
jedi
jill
json-rpc
jupytext
kiss-headers
libgen.py
libgenapi
lightnovel-crawler
magic-wormhole
metadata-parser
metadata_parser
nbdime
neovim
nest_asyncio
numba
numpy
ocrmypdf
opencv-python
orger
pandocfilters
passlib[bcrypt,argon2,totp]
pdfCropMargins
peewee
pexpect
piep
pipx
pixcat
plumbum
praw
psaw
pypyp
python-jose[cryptography]
python-multipart
python-telegram-bot
pytictoc
pyyaml
rich
scipy
service_factory
spotdl
subliminal
sumy
syncer
text2num
tgcrypto
tqdm
waybackpack
wifi-password
wikipedia
wikiquotes
xkcdpass
yapf
yq
zxcvbn
executing
