Pillow
PyPDF2
Unidecode
aiofile
anthropic
arabic_reshaper
blend_modes
cinemagoer
cloudscraper
colorama
convertdate
daudin
dnspython
executing
ezgmail
fastapi[all]
feedparser
fire
flake8
gay
git+https://github.com/NightMachinary/brish.git
gnureadline
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
groq
hiredis
html5lib
icecream
ipydex
ipython
jdatetime
jedi
json-rpc
jupytext
kiss-headers
libgenapi
litellm
metadata_parser
nest_asyncio
numba
numpy
opencv-python
orger
pandocfilters
passlib[bcrypt,argon2,totp]
peewee
pexpect
plumbum
praw
psaw
pyjson5
pynvim
python-bidi
python-jose[cryptography]
python-multipart
python-telegram-bot
pytictoc
pyyaml
rich
scipy
service_factory
sumy
syncer
text2num
tgcrypto
tiktoken
titlecase
tqdm
wikipedia
wikiquotes
xmltodict
yapf
zxcvbn
