PyPDF2
google_images_download
imdbpy
instaloader
ipython
jedi
json-rpc
neovim
pexpect
service_factory
spotdl
wikiquotes
xkcdpass
yapf
git+https://github.com/wustho/epr.git
glances[action,browser,cloud,cpuinfo,docker,export,folders,gpu,graph,ip,raid,snmp,web,wifi]
magic-wormhole
waybackpack
httpie
tqdm
subliminal
rotten_tomatoes_cli
numpy
yq
pdfCropMargins
ocrmypdf
libgen.py
libgenapi
wikipedia
daudin
gnureadline
html5lib
git+https://github.com/s0hv/rsstail.py
ezgmail
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
syncer
nest_asyncio
git+https://github.com/NightMachinary/brish.git
gensim
https://github.com/jakubroztocil/httpie/archive/master.tar.gz
rich
metadata_parser
pypyp
piep
metadata-parser
iredis
fire
