##
# - [[/Applications/sioyek.app/Contents/MacOS/]]
#
# - [[https://github.com/ahrm/sioyek/blob/main/pdf_viewer/keys.config][sioyek/keys.config at main · ahrm/sioyek · GitHub]]
#
# - [[zf:~\[sioyek\]/pdf_viewer/input.cpp::std::map<int, std::string> keymap = {][hardcoded key names]]
##
#: Search the selected text using one of the search engines defined using search_url_* settings in prefs.config (* can be any letter between 'a' and 'z')
#: see https://sioyek-documentation.readthedocs.io/en/latest/usage.html#external-search
# external_search s
##
#: Copy selected text
copy y
##
toggle_fullscreen gf
##
open_link gl
toggle_horizontal_scroll_lock gL
##
toggle_mouse_drag_mode gd

move_visual_mark_up <up>
move_visual_mark_down <down>

# screen_down <down>
# screen_up <up>

screen_down <A-<down>>
screen_up <A-<up>>
# move_up <A-<up>>
# move_down <A-<down>>

previous_page <C-<up>>
next_page <C-<down>>

move_left <right>
move_right <left>
# move_left;move_left <right>
# move_right;move_right <left>

move_left;move_left;move_left <A-<right>>
move_right;move_right;move_right <A-<left>>

#: Using prefix numbers to repeat doesn't seem to work, but manually repeating the commands does.
move_up k
move_down j

screen_up <A-k>
screen_down <A-j>

previous_page <C-k>
next_page <C-j>

# prev_state K
# next_state J

# goto_top_of_page K
# goto_bottom_of_page J

# goto_bottom_of_page;goto_left_smart K
# goto_top_of_page;goto_right_smart J

previous_page_smart K
next_page_smart J

move_left l
move_right h

move_left;move_left;move_left <A-l>
move_right;move_right;move_right <A-h>

goto_left_smart H
goto_right_smart L
##
prev_state [[
next_state ]]

prev_state <backspace> #: corresponds to =Qt::Key::Key_Backspace=, which doesn't seem to work on Apple keyboards.
next_state \

prev_state [j
next_state ]j #: doesn't work?
##
goto_left_smart za
goto_right_smart zs
goto_top_of_page zt
goto_top_of_page;goto_right_smart zx

#: Center the window on selected text
goto_selected_text zz
##
# @seeAlso =zoom_inc_factor=
zoom_out _
zoom_in +

# zoom_out  -
# zoom_in  =
zoom_out;zoom_out;zoom_out;zoom_out;zoom_out  -
zoom_in;zoom_in;zoom_in;zoom_in;zoom_in  =
##
add_highlight a

delete_highlight dh
# delete_highlight dd
# delete_highlight_under_cursor dd
delete_last_highlight dd
#: Click on a highlight then press =delete_highlight=.

#: Toggle select highlight mode. In select highlight mode, all text selected using mouse will automatically be highlighted with highlight type set using `set_select_highlight_type`
toggle_select_highlight ga
set_select_highlight_type gA

goto_next_highlight gn
goto_prev_highlight gN
goto_next_highlight [h
goto_prev_highlight ]h

#: Goto next/previous highlight of the current selected highlight type
goto_next_highlight_of_type [a
goto_prev_highlight_of_type ]a
##
toggle_window_configuration gP
##
goto_toc <tab>
##
fit_to_page_width_smart;goto_left_smart iw
fit_to_page_width;goto_left_smart iW
fit_to_page_height_smart;goto_top_of_page ih
fit_to_page_height;goto_top_of_page iH
##
open_prev_doc o
#: Open a list of all opened document using sioyek.

open_document_embedded_from_current_path O
open_document gO
#: Open the file browser to open a document.

open_last_document go
##
toggle_one_window q
## * Import/Export
#: Import sioyek data from an exported file
import <C-i>

#: Export sioyek data into a json file (includes the data for all files)
export <C-e>

#: Embed the annotations (highlights and bookmarks) into a new PDF file so they are visible to other PDF readers
embed_annotations <C-s>
##
next_page;fit_to_page_height_smart;goto_top_of_page <C-.>
previous_page;fit_to_page_height_smart;goto_top_of_page <C-,>

# next_page;fit_to_page_height;zoom_in;goto_top_of_page;zoom_in .
# next_page;fit_to_page_height;zoom_in;goto_top_of_page;zoom_in z
next_page;fit_to_page_height;goto_top_of_page .
# next_page;fit_to_page_height;goto_top_of_page z
# next_page;fit_to_page_height;goto_top_of_page c

previous_page;fit_to_page_height;goto_top_of_page ,
# previous_page;fit_to_page_height;goto_top_of_page x
# previous_page;fit_to_page_height;goto_top_of_page n
#: v conflicts with keyboard_select

# previous_page;fit_to_page_height;zoom_in;goto_top_of_page;zoom_in ,
# previous_page;fit_to_page_height;zoom_in;goto_top_of_page;zoom_in x

#: @nop basically, but the copy is nice anyway:
#: so that we can use them for controlling scrolling behavior
copy z
copy x
##
push_state;set_mark m
goto_mark '
## '
# toggle_smooth_scroll_mode `
# * This smooth mode doesn't work well IMO.
# ** [jalali:1402/10/23/11:48]
