##
# * [[zf:~\[sioyek\]/pdf_viewer/input.cpp::std::map<int, std::string> keymap = {][hardcoded key names]]
##
#: Search the selected text using one of the search engines defined using search_url_* settings in prefs.config (* can be any letter between 'a' and 'z')
#: see https://sioyek-documentation.readthedocs.io/en/latest/usage.html#external-search
# external_search s
##
#: Copy selected text
copy y
##
toggle_fullscreen gf
##
toggle_horizontal_scroll_lock gl
##
toggle_mouse_drag_mode gd

screen_down <down>
screen_up <up>
move_up <A-<up>>
move_down <A-<down>>

move_up 3 j
move_down 3 k
move_left l
move_right h
##
prev_state K
next_state J

prev_state <backspace> #: corresponds to =Qt::Key::Key_Backspace=, which doesn't seem to work on Apple keyboards.
next_state \

prev_state [j
next_state ]j #: doesn't work?
##
goto_left_smart za
goto_right_smart zs
goto_top_of_page;goto_right_smart zx

#: Center the window on selected text
goto_selected_text zz
##
zoom_in  =
##
add_highlight a

#: Toggle select highlight mode. In select highlight mode, all text selected using mouse will automatically be highlighted with highlight type set using `set_select_highlight_type`
toggle_select_highlight ga
set_select_highlight_type gA

goto_next_highlight gn
goto_prev_highlight gN
goto_next_highlight [h
goto_prev_highlight ]h

#: Goto next/previous highlight of the current selected highlight type
goto_next_highlight_of_type [a
goto_prev_highlight_of_type ]a
##
toggle_window_configuration gP
##
goto_toc <tab>
##
fit_to_page_width_smart gw
fit_to_page_height_smart gh
##
# open_document o
# open_prev_doc O
open_last_document go
open_document_embedded_from_current_path gO
##
toggle_one_window q
##
#: Import sioyek data from an exported file
import <C-i>

#: Export sioyek data into a json file (includes the data for all files)
export <C-e>

#: Embed the annotations (highlights and bookmarks) into a new PDF file so they are visible to other PDF readers
embed_annotations <C-s>
##
goto_mark '
##
