zoom_inc_factor         1.03

search_url_m	https://www.semanticscholar.org/search?q=

middle_click_search_engine			m
shift_middle_click_search_engine	g

# font_size 26
font_size 33
keyboard_select_font_size 33

#: @todo9 These don't seem to work. But you can use the =external_search= command which is better anyway.
shift_click_command middle_click_search_engine
control_click_command shift_middle_click_search_engine
# alt_click_command some_command
# shift_right_click_command some_command
# control_right_click_command some_command
# alt_right_click_command some_command
