##
startup_commands toggle_horizontal_scroll_lock;toggle_fullscreen
##
touchpad_sensitivity 4.0

inverted_horizontal_scrolling   1

zoom_inc_factor         1.03
scroll_zoom_inc_factor         2.0

# Normally mouse wheel zooms in on the middle of the screen, but if this is set to 1, we zoom in on the cursor
wheel_zoom_on_cursor 1

search_url_s	https://www.semanticscholar.org/search?q=

middle_click_search_engine			s
shift_middle_click_search_engine	g

# font_size 26
# font_size 10
font_size 33
keyboard_select_font_size 20

#: @todo9 These don't seem to work. But you can use the =external_search= command which is better anyway.
shift_click_command middle_click_search_engine
control_click_command shift_middle_click_search_engine
# alt_click_command some_command
# shift_right_click_command some_command
# control_right_click_command some_command
# alt_right_click_command some_command

## Configure the appearance of page separator
page_separator_width 2
page_separator_color	0.9 0.9 0.9
##
## In list of recent documents, show the entire document path rather than just the name
show_doc_path 0
##
fuzzy_searching 0
regex_searching 1
##
show_document_name_in_statusbar 1
status_bar_format P %{current_page} / %{num_pages}%{chapter_name}%{search_results}%{search_progress}%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index}%{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll}%{closest_bookmark}%{close_portal}%{rect_select}%{custom_message}%{document_name}
# Must start with an English letter to not change direction of RTL names
# %{highlight}
# %{download}
##
