"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontSize: 17
    scrollPastEnd: true
    softWrap: true
    softWrapHangingIndent: 4
  "exception-reporting":
    userId: "78fba79f-8b2e-4fcb-b6f9-1b2e733ad54b"
  "hey-pane": {}
  "julia-client":
    consoleOptions:
      cursorStyle: "bar"
      terminal: "/Users/evar/scripts/dash/itermlaunch.dash"
    firstBoot: false
    juliaOptions:
      formattingOptions:
        whitespace_typedefs: true
    uiOptions:
      enableMenu: true
      enableToolBar: true
      errorInRepl: true
      resultsDisplayMode: "console"
      scrollToResult: true
      usePlotPane: false
  "tool-bar":
    position: "Left"
  "uber-juno":
    disable: true
  welcome:
    showOnStartup: false
