[user]
	name = NightMachinary
	email = rudiwillalwaysloveyou@gmail.com
	signingKey = 6156FCADABAFE9E8BC468F55C567089D40CA8367
[alias]
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
	default = matching
[core]
	excludesfile = ~/.gitignore_global
	longpaths = true
	autocrlf = input
	pager = LESS='-RiF --mouse --wheel-lines=3' delta --light --theme 'Solarized (light)'
	# ignorecase = false
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[http]
  sslVerify = true
	proxy = socks5h://127.0.0.1:1081
[pull]
	rebase = false
[difftool]
    prompt = false
    # trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
	# submodule = diff
	# submodules don't work :(
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[receive]
	denyCurrentBranch = updateInstead
# [url "ssh://git@github.com/"]
# 	insteadOf = https://github.com/
# [url "ssh://git@bitbucket.org/"]
# 	insteadOf = https://bitbucket.org/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[commit]
	gpgSign = true
