[user]
	name = NightMachinary
	email = rudiwillalwaysloveyou@gmail.com
[alias]
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
	default = matching
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = LESS='-RiF --mouse --wheel-lines=3' delta --light --theme 'Solarized (light)'
	# ignorecase = false
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[http]
  sslVerify = true
[pull]
	rebase = false
[difftool]
    prompt = false
    # trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[receive]
	denyCurrentBranch = updateInstead
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
[url "https://bitbucket.org/"]
	insteadOf = ssh://git@bitbucket.org/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
